.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

input {
  margin: 5px;
  font-size: 125%;
}

label {
  margin-right: 10px;
}

button {
  margin: 15px;
  margin-top: 20px;
  font-size: 125%;
}

.Warning {
  margin-bottom: 10px;
}
